body {
    background-color: #fffbf6; /* #fdf5e6; A warm sandy color */
    font-family: "Alegreya Sans", sans-serif;
    /* Helvetica Neue */
    /* font-family: 'Red Hat Text', sans-serif; */
    color: #333;
    line-height: 1.6;
    font-size: 16px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.section-title {
    margin-bottom: 0.75rem; 
}

.container {
    width: 90%;
    max-width: 800px;
    padding: 2rem;
}

#info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.info-text {
    text-align: center;
}

#portrait {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 5px;
}

#about {
    margin-top: 2rem;
}

#research-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 1.5rem; */
    margin-bottom: 1rem;
    /* background-color: white; */
    /* padding: 1.5rem; */
    /* border-radius: 8px; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

#research-img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 5px;
}

.section-text {
    text-align: center;
    font-size: 16px;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
}

#research-title {
    font-size: 16px;
    font-weight: bold;
    /* margin-bottom: 4px; */
}

#research-title a {
    color: #333;
    text-decoration: underline;
    transition: color 0.2s ease;
}

#research-title a:hover {
    color: #1d4ed8;
    text-decoration: underline;
}

#about a {
    color: #333;
    text-decoration: underline;
    transition: color 0.2s ease;
}

#about a:hover {
    color: #1d4ed8;
    text-decoration: underline;
}

/* Media query for larger screens */
@media screen and (min-width: 768px) {
    .container {
        width: 800px;
    }

    #info-card {
        flex-direction: row;
        align-items: flex-start;
        gap: 2rem;
    }

    #portrait {
        flex-shrink: 0;
        width: 200px;
    }

    #idea2code {
        width: 500px;
        height: auto;
        border-radius: 5px;
    }

    .info-text {
        text-align: left;
        flex-grow: 1;
    }

    #research-card {
        flex-direction: row;
        align-items: flex-start;
        /* gap: 2rem; */
    }

    #research-img {
        flex-shrink: 0;
        width: 175px;
    }

    .section-text {
        text-align: left;
        /* flex-grow: 1; */
    }
}

/* Social media icons */
.social-icon {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #1d4ed8;
}